// Tabla
.mdc-data-table__cell,
.mat-mdc-header-cell {
  text-align: center;
  // font-size: clamp(2.5rem, 3.5vw, 5rem);
  font-size: 16px;
  padding: 1.5vh 1vw;
  // font-size: 2rem;
}

.mdc-data-table__cell {
  background-color: var(--primary-text-color) !important;
  font-family: "Inter", sans-serif;
}

.mat-mdc-header-cell {
  background-color: var(--primary-color) !important;
  color: var(--primary-text-color) !important;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

thead > tr > th {
  // color: red !important;
  text-align: center !important;
  font-weight: bold;
}

.mat-mdc-header-row,
.mat-mdc-row {
  height: 40px !important;
}

.mat-mdc-header-row {
  // font-weight: 500;
}

// thead tr,
// tbody {
//   height: 10px !important;
// }

.mat-mdc-table {
  max-width: 100%;
}

// --------------------------------------------------------

// Contenedores

.main-view-container {
  width: 100%;
  max-width: 100%;
}

.container-top-content {
  display: flex;
}

.main-view-container,
.left-content {
  display: flex;
  flex-direction: column;
}

.left-content {
  background-color: var(--primary-color);
  flex: 1;
  // flex: 3;
  justify-content: space-between;
  // height: auto;
}

.right-content {
  // flex: 7;
  // height: auto;
  background-color: aqua;

  width: 100%;
  max-width: 80vw; // Máximo ancho para que no se vea desproporcionado
  height: auto;
  max-height: 70vh;
}

.buses-container {
  max-width: 100% !important;
}

// -----------------------------------------------------
// otros elementos

.left-content .logo {
  width: 60px;
  padding-top: 10px;
  padding-left: 20px;
}
.clock {
  display: flex;
  flex-direction: column;
  width: 100%;
  // font-size: 2.2rem;
  font-weight: bold;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  font-size: clamp(2.5rem, 3vw, 5.5rem);
  // font-size: 2.2rem;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  text-align: center;
  color: var(--primary-text-color);
  font-size: clamp(3rem, 4vw, 6rem);
  line-height: 1;
}

.brands {
  height: 200px;
  width: auto;
}

.video {
  // height: 60vh;
  width: 100%;
  max-width: 100%;
  height: auto;
  // max-height: 70vh;
}

.small-img {
  width: 50px;
}
