<div class="main-view-container">
  <div class="container-top-content">
    <div class="left-content">
      <img src="assets/images/logo.jpg" alt="logo" class="logo" />
      <h1>SALIDAS</h1>
      <!-- HORA -->
      <div class="clock">
        <span>{{ currentDate$ | async }}</span>
        <!-- <img src="assets/images/bus.png" alt="bus" class="small-img" /> -->
        <span>{{ currentTime$ | async }}</span>
      </div>
      <img
        src="assets/images/logos-empresas.jpg"
        alt="logos-empresas"
        class="brands"
      />
    </div>
    <!-- VIDEO PUBLICIDAD -->
    <video controls class="video">
      <source src="/assets/videos/anuncio1.mp4" type="video/mp4" />
      Tu navegador no soporta la etiqueta de video.
    </video>

    <!-- <app-video></app-video> -->
  </div>
  <!-- LISTA DE BUSES -->
  <div class="buses-list">
    <table mat-table [dataSource]="dataOnArrivingBuses">
      <ng-container matColumnDef="Empresa">
        <th mat-header-cell *matHeaderCellDef>EMPRESA</th>
        <td mat-cell *matCellDef="let bus">{{ bus.company }}</td>
      </ng-container>

      <ng-container matColumnDef="Destino">
        <th mat-header-cell *matHeaderCellDef>DESTINO</th>
        <td mat-cell *matCellDef="let bus">{{ bus.destination }}</td>
      </ng-container>

      <ng-container matColumnDef="Hora">
        <th mat-header-cell *matHeaderCellDef>HORA</th>
        <td mat-cell *matCellDef="let bus">{{ bus.arrivalTime }}</td>
      </ng-container>

      <ng-container matColumnDef="Embarque">
        <th mat-header-cell *matHeaderCellDef>EMBARQUE</th>
        <td mat-cell *matCellDef="let bus">{{ bus.boardingGate }}</td>
      </ng-container>

      <ng-container matColumnDef="Observación">
        <th mat-header-cell *matHeaderCellDef>OBSERVACIÓN</th>
        <td mat-cell *matCellDef="let bus">{{ bus.observation }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
