<div class="card-container">
  <div class="info-container">
    <div>
      <p class="text-bold">{{ data.company }}</p>
      <span>{{ data.destination }} - {{ data.departure_time }} </span>
    </div>
    <div class="details">
      <div class="details-item">
        <span class="text-label">Embarque:</span>
        <span class="text-content">{{ data.boarding_gate || "-" }}</span>
      </div>
      <div *ngIf="data.observation" class="details-item">
        <span class="text-label">Observación:</span>
        <span
          [ngClass]="{
            red: data.observation === 'cancelado',
            yellow: data.observation === 'atrasado',
            green: data.observation === 'arrivado',
          }"
          >{{ data.observation | titlecase }}</span
        >
      </div>
    </div>
  </div>

  <div class="actions-container">
    <button type="button" (click)="edit(data.id)">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <button type="button" (click)="delete(data.id)">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
</div>
