.nav-btn-container {
  display: flex;
  gap: 15px;
}

button {
  border: none;
  border-radius: 20px;
  padding: 20px;
  width: 100%;

  font-size: 1rem;
  // font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease-in-out;
  /* Sombra más suave y moderna */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  /* Efecto al pasar el mouse */
  &:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }

  /* Efecto al hacer clic */
  &:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
}

.active {
  background-color: var(--highlight-color);
  color: var(--secondary-text-color);
}
.inactive {
  background-color: lightgray;
  color: gray;
}
// -----------------------------------------------------------
// responsive

@media screen and (max-width: 480px) {
  button {
    font-size: 0.8rem;
  }
  .nav-btn-container {
    display: flex;
    gap: 5px;
  }
}

@media screen and (max-width: 768px) {
}
