<div class="form-container">
  <form [formGroup]="busData">
    <mat-form-field appearance="outline">
      <mat-label>Empresa de Transporte:</mat-label>
      <input matInput type="text" formControlName="company" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ruta de viaje:</mat-label>
      <input matInput type="text" formControlName="destination" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Puerta de embarque:</mat-label>
      <input matInput type="text" formControlName="boardingGate" />
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      [disabled]="busData.invalid"
      (click)="addBus()"
    >
      Agregar bus
    </button>
  </form>
</div>
