<div class="form-container">
  <form [formGroup]="busData" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Empresa de Transporte:</mat-label>
      <input matInput type="text" formControlName="company" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Destino:</mat-label>
      <input matInput type="text" formControlName="destination" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hora de partida:</mat-label>
      <input matInput type="text" formControlName="departureTime" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Puerta de abordaje:</mat-label>
      <input matInput type="text" formControlName="boardingGate" />
    </mat-form-field>

    <button mat-raised-button type="submit">Agregar bus</button>
    <button mat-raised-button (click)="onRedirectToMenu()">Cancelar</button>
  </form>
</div>
