<div class="general-container">
  <form [formGroup]="formData">
    <ng-container *ngFor="let field of formFields">
      <mat-form-field appearance="outline">
        <mat-label>{{ field.label }}</mat-label>
        <ng-container [ngSwitch]="field.type">
          <!-- Input de texto -->
          <input
            *ngSwitchCase="'text'"
            matInput
            [formControlName]="field.formControl"
            type="text"
          />

          <!-- Dropdown (Select) -->
          <mat-select
            *ngSwitchCase="'select'"
            [formControlName]="field.formControl"
            [disabled]="formData.get(field.formControl)?.disabled ?? false"
          >
            <mat-option
              *ngFor="let option of field.options"
              [value]="option.value"
            >
              {{ option.label | titlecase }}
            </mat-option>
          </mat-select>
        </ng-container>
        <mat-error
          *ngIf="
            formData.get(field.formControl)?.invalid &&
            formData.get(field.formControl)?.touched
          "
        >
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>
    </ng-container>

    <div class="btns-wrapper">
      <ng-container *ngFor="let button of buttonsData">
        <button
          mat-raised-button
          [type]="button.type"
          (click)="handleButtonClick(button)"
          [class.outline]="button.type !== 'submit'"
          [disabled]="isLoading"
        >
          {{ button.text }}
        </button>
      </ng-container>
    </div>
  </form>
</div>
